body{
  height: 1150px;
  background-color: #E6E6FA;
  margin:0px 80px 80px;
}

.nav {
    border: 1em solid #ccc;
    border-width: .1em 0;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color:lightblue;
}

.nav li { display: inline; }
.nav a {
    display: inline-block;
    padding: .63em;
    text-decoration: none;
    font-size:1.2em;
}

h1 {
  color: #B6AAAA;
  font-size: 100px;
  font-family: sans-serif;
  text-align: center;
}

h2 {
  color: black;
  font-size: 50px;
  font-family: sans-serif;
  text-align: justify;
}

.listItems{
  font-size: 16px;
}

.footer {
  background-color: #B6AAAA;
  text-align: center;
  color: white;
  height: 80px;
  left: 0;
  bottom: 0;
  width: 100%;
  position: fixed;
}
